/* CSS for the sidebar */
#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px; /* Adjust as needed */
  background-color: #fafafa;
  z-index: 2; /* Initially hide the sidebar behind other content */
  transition: transform 0.3s ease-out;
  transform: translateX(100%); /* Initially push sidebar off-screen */
  padding-bottom: 10%;
}
/* CSS for the content overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2; /* Initially hide the overlay behind other content */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease-out;
}
/* CSS for the active sidebar */
#sidebar.active {
  transform: translateX(0); /* Show sidebar */
}
/* CSS for the active overlay */
#overlay.active {
  z-index: 1; /* Show overlay */
  opacity: 1; /* Make overlay visible */
}
/* CSS for the clickable p tags */
#sidebar p {
  width: 100%; /* Full width */
  padding: 10px; /* Add padding */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition for background color */
  color: #00529b;
}

/* CSS for the hover effect */
#sidebar p:hover {
  background-color: #00529b; /* Change background color on hover */
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
  font-family: sans-serif;
  position: relative;
}
.entry_master_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.navbar_master_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid #ccc;
  height: 4rem
}
.banner_section_master {
  width: 100%;
  height: 28rem;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("/assets/encyclopedia.jpg");
  background-size: cover;
  background-position: center;
}
.banner_section_sub_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  text-align: center;
}
.banner_section_heading_tag {
  color: #fff;
  font-size: 350%;
}
.banner_section_paragraph {
  color: #fff;
  font-size: 150%;
}
.banner_input_region {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.input_search {
  width: 500px;
  height: 3rem;
  outline: none;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
}
.input_button {
  width: 200px;
  height: 3.3rem;
  background-color: #f05b13;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 2px;
}
.outer-container{
    background-color: #22153c;
    height: 57vh;
    width: 100%;
}
.inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section-title{
    color: #fff;
    font-weight: 200;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-container{
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}
.event-container{
    border: 1px solid #fff;
    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    padding: 0 6px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/assets/english.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}
.event-container:hover {
    transform: scale(1.05); /* Enlarge the image on hover */
}

.event-title,.event-description{
    color: #fff;
}

.event-header{
  border: 1px solid white;
  width: 30%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22153c;
  border-radius: 4px;
}
.recent-cards-master{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15rem;
}
.card-items-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.recent-cards-master>h1{
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-items-sub-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.single-card-item>h5,h6,p{
  color: #fff;
}
.single-card-item>h5{
  border: 1px solid #00529b;
  background-color: #00529b;
  height: 20px;
  width: 100px;
}


.single-card-item{
  border: 1px solid #000;
  height: 30vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("/assets/english.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  border-radius: 2px;
}

.single-card-item:hover{
  transform: scale(1.05); 
}


.footer {
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
  background-color: #00529b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}


@media(max-width:480px){
    .banner_input_region{
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
    }
    .input_search{
        width: 75vw;
        height: 2.4rem;

    }
    .input_button{
        width: 15vw;
        height: 2.5rem;
    }
    .banner_section_heading_tag{
        font-size: 28px;

    }
    .banner_section_paragraph{
        font-size: 18px;
    }
    .banner_section_master{
        height: 47vh;
    }
    .banner_section_sub_container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        margin: 0;
        padding-top: 3rem;
    }
    .event-container{
        height: 20vh;
        width: 60vw; 
    }
    .card-container{
        display: flex;
        flex-direction: column;
    }
    .outer-container{
        height: 65vh;
        width: 100%;
    }
    .event-header{
      width: 60%;
      height: 40px;
    }
    .card-items-sub-container{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0;
    }
    .single-card-item{
      width: 90%;
    }
}

@media(min-width:481px) and (max-width:767px){
    .banner_input_region{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
            }
            .input_search{
                width: 75vw;
                height: 2.4rem;
        
            }
            .input_button{
                width: 15vw;
                height: 2.5rem;
            }
            .banner_section_heading_tag{
                font-size: 28px;
        
            }
            .banner_section_paragraph{
                font-size: 18px;
            }
            .banner_section_master{
                height: 40vh;
            }
            .banner_section_sub_container{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                gap: 1rem;
                margin: 0;
                padding: 0;
            }
            .event-container{
              width: 40vw;
              height: 20vh;
            }
            .event-header{
              width: 40%;
              height: 40px;
            }
            .card-items-sub-container{
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              gap: 0;
            }
            .single-card-item{
              width: 90%;
            }
            .outer-container{
              height: 35vh;
            }
}


@media(min-width:768px) and (max-width:991px){
  .event-container{
    width: 40vw;
    height: 20vh;
  }
  .event-header{
    width: 40%;
    height: 40px;
  }
  .outer-container{
    height: 30vh;
  }
}
